---
import "../global.css";
import Search from "../components/search.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Youtube Extractor Demo</title>
  </head>
  <body class="mx-auto my-10 p-2 max-w-2xl">
    <header class="mb-12">
      <h1 class="text-3xl font-extrabold">Youtube Extractor Demo</h1>
      <span>
        <a href="https://andrewjazbec.com">Andrew Jazbec</a>
        -
        <a href="https://github.com/ajzbc/youtube-extractor">GitHub</a>
      </span>
    </header>
    <Search client:load />
  </body>
</html>
